@import "tailwindcss";
@plugin "daisyui";

.input {
  @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.input-style {
  @apply w-full px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-400;
}

.align-items {
  @apply mx-auto p-3 max-w-[1400px];
}

@layer utilities {
  @keyframes draw {
    0% {
      stroke-dashoffset: 500;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }

  .animate-draw {
    animation: draw 2s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
    color: #ef0e0e;
  }
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999;
}